= simple_form_for @liquid_template do |f|
	= f.full_error :base
	-# Template.template_types clashes with ActionView::Template:Class
	= f.input :template_type, collection: f.object.class.template_types.map {|k, v| [k.humanize, k]}, selected: (f.object.template_type if f.object.persisted? or f.object.errors.any?), include_blank: 'Choose a template type'
	= f.input :name, as: :string
	= f.input :content, hint: 'The following parameters are provided: title, subtitle, author, content, chapters (an array), excerpt and marketplace (kindle, createspace or acx)', input_html: { rows: 10 }
	#liquid-template-parameters
		= f.simple_fields_for :liquid_template_parameters do |liquid_template_parameter|
			= render 'liquid_template_parameter_fields', f: liquid_template_parameter
		.links
			%br	
			= link_to_add_association 'Add Parameter', f, :liquid_template_parameters, class: 'btn btn-default'
		%br	
	= f.button :submit
