= simple_form_for @liquid_template do |f|
	= f.input :category, include_blank: 'Choose a template type'
	= f.input :name, as: :string
	= f.input :content, hint: 'The following parameters are provided: title, subtitle, author, content, chapters (an array), excerpt and marketplace (kindle, createspace or acx)', input_html: { rows: 10 }
	#liquid-template-parameters.panel.panel-default
		.panel-heading
			%h3.panel-title Parameters
		.panel-body
			.row
				.col-md-6.col-md-offset-3
					= f.simple_fields_for :liquid_template_parameters do |liquid_template_parameter|
						= render 'liquid_template_parameter_fields', f: liquid_template_parameter
					.links
						= link_to_add_association 'Add Parameter', f, :liquid_template_parameters, class: 'btn btn-success center-block'
	.well
		.row.text-center
			= f.button :submit, class: 'btn-primary btn-well'
			= yield
