.row
	.col-md-2
		%b= label(:template, :name)
	.col-md-10	
		= @template.name
.row
	.col-md-2
		%b= label(:template, :content)
	.col-md-10	
		= @template.content
.row
	.col-md-2
		%b= label(:template, :parameters)
	.col-md-10
		= @template.parameters.map(&:name).join(', ')			
= link_to 'Edit', edit_template_path(@template), class: 'btn btn-default'
= link_to 'Back', templates_path, class: 'btn btn-default'
