.row
	.col-md-2
		%b= label(:cover, :photographer)
	.col-md-10	
		= @cover.photographer
.row
	.col-md-2
		%b= label(:cover, :license)
	.col-md-10
		= @cover.license
= link_to 'Edit', edit_project_cover_path, class: 'btn btn-default btn-show'
= link_to 'Back', @project, class: 'btn btn-default btn-show'