.row
	.col-md-2
		%b= label(:cover, :photographer)
	.col-md-10	
		= @cover.photographer
.row
	.col-md-2
		%b= label(:cover, :license)
	.col-md-10
		= @cover.license
= link_to 'Edit', edit_project_cover_path(@project), class: 'btn btn-default'
= link_to 'Back', project_path(@project), class: 'btn btn-default'