.form-group
	= f.label :name, 'Parameter Name'
	= f.text_field :name, class: 'form-control'
	= f.label :value, 'Parameter Value'
	= f.text_field :value, class: 'form-control'
	= button_to_remove_fields 'Remove', f, 'btn btn-default'