.form-group.filled-parameters
	= f.label :name, 'Parameter Name'
	= f.text_field :name, class: 'form-control'
	= f.label :value, 'Parameter Value'
	= f.text_field :value, class: 'form-control'
	= f.hidden_field(:_destroy)
	= button_tag 'Remove', type: :button, class: 'btn btn-default remove-description-parameter-button'