= simple_form_for @description, url: project_description_path  do |f|
	= f.full_error :base
	= f.input :template, hint: 'The following parameters are provided: title, subtitle, author, content, chapters (an array), excerpt and marketplace (kindle, createspace or acx)', input_html: { rows: 10 }
	= f.input :content, input_html: { rows: 10 }
	= f.input :chapter_list, as: :string, hint: 'List of chapters separated by a semicolon'
	= f.input :excerpt, input_html: { rows: 10 }
	#filled-parameters
		= f.simple_fields_for :filled_parameters do |filled_parameter|
			= render 'filled_parameter_fields', f: filled_parameter
		.links
			%br	
			= link_to_add_association 'Add Parameter', f, :filled_parameters, class: 'btn btn-default'
		%br	
	= f.button :submit				