= simple_form_for @description, url: project_description_path  do |f|
	= f.full_error :base
	= f.input :template, hint: 'The following parameters are provided: title, subtitle, author, content, chapters (an array), excerpt and marketplace (kindle, createspace or acx)', input_html: { rows: 10 }
	= f.input :content, input_html: { rows: 10 }
	= f.input :chapter_list, as: :string, hint: 'List of chapters separated by a semicolon'
	= f.input :excerpt, input_html: { rows: 10 }
	#description-parameters
		= f.simple_fields_for :description_parameters do |description_parameter|
			= render 'description_parameter_fields', f: description_parameter
		.links
			%br	
			= link_to_add_association 'Add Parameter', f, :description_parameters, class: 'btn btn-default'
		%br	
	= f.button :submit				