= form_for @description, url: project_description_path do |f|
	- if @description.errors.any?
		#error_explanation
			%h2= "#{pluralize(@description.errors.count, "error")} prohibited this article from being saved:"
			%ul
				- @description.errors.full_messages.each do |msg|
					%li= msg
	.form-group
		= f.label :template
		= f.text_area :template, rows: 10, class: 'form-control'
	.form-group
		= f.label :content
		= f.text_area :content, rows: 10, class: 'form-control'
	.form-group
		= f.label :chapter_list
		= f.text_field :chapter_list, class: 'form-control'
	.form-group
		= f.label :excerpt
		= f.text_area :excerpt, rows: 10, class: 'form-control'	
	= f.fields_for :filled_parameters do |builder|
		= render 'filled_parameter_fields', f: builder
	= button_tag 'Add Parameter', type: :button, class: 'btn btn-default add-description-parameter-button'	
	.actions
		%br
		= f.submit class: 'btn btn-default'

.hidden-fields
	= fields_for @description do |builder|
		= add_fields 'Add Parameter', builder, :filled_parameters		