.row
	.col-md-2
		%b= label(:filled_liquid_template, :content)
	.col-md-10	
		= @description.filled_liquid_template.content if @description.filled_liquid_template
.row
	.col-md-2
		%b= label(:filled_liquid_template, :filled_liquid_template_parameters, 'Parameters')
	.col-md-10
		= @description.filled_liquid_template.filled_liquid_template_parameters.map(&:name).join(', ') if @description.filled_liquid_template		
.row
	.col-md-2
		%b= label(:description, :content)
	.col-md-10	
		= @description.content
.row
	.col-md-2
		%b= label(:description, :chapter_list)
	.col-md-10	
		= @description.chapter_list
.row
	.col-md-2
		%b= label(:description, :excerpt)
	.col-md-10	
		= @description.excerpt			
= link_to 'Edit', edit_project_description_path(@project), class: 'btn btn-default'
= link_to 'Back', project_path(@project), class: 'btn btn-default'