= simple_form_for @project do |f|
	= f.input :title, as: :string
	= f.input :subtitle, as: :string
	= f.input :author, as: :string
	= f.input :keywords, as: :string
	= f.input :isbn10, as: :string
	= f.input :isbn13, as: :string
	.well
		.row.text-center
			= f.button :submit, class: 'btn-primary btn-well'
			= yield		