%table.table
	%thead
		%tr
			%th Title			
			%th Subtitle
			%th Author
			%th Keywords
			%th Description
			%th ISBN-10
			%th ISBN-13
			%th
	%tbody
		- @projects.each do |project|
			%tr
				%td= project.title
				%td= project.subtitle
				%td= project.author
				%td= project.keywords
				%td= project.description
				%td= project.isbn10
				%td= project.isbn13
				%td= link_to 'View', project_path(project)

= link_to 'New Project', new_project_path, class: 'btn btn-default'	