.row
	.col-md-2
		%b= label(:project, :title)
	.col-md-10	
		= @project.title
.row
	.col-md-2
		%b= label(:project, :subtitle)
	.col-md-10
		= @project.subtitle
.row
	.col-md-2
		%b= label(:project, :author)
	.col-md-10
		= @project.author
.row
	.col-md-2
		%b= label(:project, :keywords)
	.col-md-10
		= @project.keywords
.row
	.col-md-2
		%b= label(:project, :isbn10)
	.col-md-10
		= @project.isbn10
.row
	.col-md-2
		%b= label(:project, :isbn13)
	.col-md-10
		= @project.isbn13
.row
	.col-md-2
		%b= label(:project, :cover)
	.col-md-10
		- if @project.cover
			= link_to('View', project_cover_path(@project))
			\|
			= link_to('Edit', edit_project_cover_path(@project))
		- else
			= link_to('Create', new_project_cover_path(@project))
.row
	.col-md-2
		%b= label(:project, :description)
	.col-md-10
		- if @project.description
			= link_to('View', project_description_path(@project))
			\|
			= link_to('Edit', edit_project_description_path(@project))
		- else
			= link_to('Create', new_project_description_path(@project))
.row
	.col-md-2
		%b= label(:project, :book)
	.col-md-10
		- if @project.book
			= link_to('View', book_path(@project.book))
		- else
			= link_to('Create', new_project_book_path(@project))
			
= link_to 'Edit', edit_project_path(@project), class: 'btn btn-default'
= link_to 'Back', projects_path, class: 'btn btn-default'
