= simple_form_for @book, url: project_book_path do |f|
	= f.full_error :base
	%h4 Front Section
	= select_tag 'choose_front_section_template', options_from_collection_for_select(@templates, 'id', 'name'), prompt: 'Choose a front section template', class: 'form-control', data: { url: '' }
	= render 'front_section', f: f
	%h4 Table of Contents Section
	= select_tag 'choose_toc_section_template', options_from_collection_for_select(@templates, 'id', 'name'), prompt: 'Choose a TOC section template', class: 'form-control', data: { url: '' }
	= render 'toc_section', f: f
	%h4 Content Sections
	= render 'sections', f: f
	= f.button :submit
